body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    background-image: url(image/white.jpg);
}

section{
    height: 500px;
    padding-bottom: 150px;
    margin-top: 40px;
     
}
.top-banner p{
 padding-bottom: 25px;
  
}

.top-banner{
    background-image:  url("") ;
    background-repeat: no-repeat;
  
}

.top-banner h1{
    line-height:  50px;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 3%;
}
h1{
    font-size: 50px;
}
h1 span{

    color: orange;
}
.half-width img{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    max-width: 100px;
    height: auto;
   
    
}
 .anchor-button{
    text-decoration: none;
    background: linear-gradient(rgb(72, 100, 222),rgba(3, 2, 6, 0.402));
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 70px;
    color: white;
    margin-left: 3px;
    
 }

 .dream-area p{
    padding-bottom: 25px;
   
 }
 
 .experience-area h3{
    color: orange;
 }

 .experience-area h1{
    margin-left: 100px;
    padding-bottom: 30px;
  
 }
 .experience-area h2{
    margin-top: 19px;
 }
 .experience-area div{
    box-shadow: 5px 7px 40px gray;
    height: 80%;
 }

 .experience-area p{
    margin-right: 20px;
    margin-top: 20px;
    
    
 }
 #full-stack{
    border-left: 7px solid;
    border-image: linear-gradient( 180deg,  orange,tomato);
    border-image-slice: 1;
    margin-bottom: 20px;
    height: auto;
    width: auto;
 }
 #baby-web{
    border-left: 7px solid;
    border-image: linear-gradient( 180deg, rgb(153, 153, 217),rgb(5, 5, 108));
    border-image-slice: 1;
    height: auto;
    width: auto;


 }
 footer p{
    text-align: center;
    margin-top: auto; 
    bottom: 0;
    padding: 1px;
    width: 100%;
 
 }

 @media (max-width:600px){
    .anchor-button{
        font-size: 14px;
    }
 }
  
  
.Result-are h1{
   margin-left: 100px;
    padding-bottom: 30px;
}

.card{
   border-radius: 20px ;
   height: auto;
   width: auto;
   background: linear-gradient( 190deg, rgb(195, 231, 195),rgb(23, 85, 23));
   padding: 20px;
  
} 
.unique-half-width{
   
 margin-left: 50px;
 

  
}
  
  
 